@media only screen and (max-width: 32.5em) {
    body{
    background-color: #E1A5FF;
    }

    header{
        background-color: #FFAFDC;
    }
    .home-grid{
        grid-template-columns: 1fr 1fr;
    }
}
.home-grid{
    grid-template-columns: 1fr;
}

@media only screen and (max-width: 60em){
    .home-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}