/*mainStuffIneed*/
body {
    font-family: 'Dosis', sans-serif;
    color: #86c232;
    background-color: #222629;
    display: block;

}

li {
    padding-left: .15em;
    padding-right: .15em;
    margin: 0 auto;
    list-style: none;

}

#logo {
    max-width: 30%;
    margin-left: 7.2em;
    margin-bottom: -6em;
}

.preston {
    background-color: #628E25;
    margin-left: 5px;
    font-family: 'Dosis', sans-serif;
}

.title {
    text-align: center;
}


nav {
    max-width: 80%;
    overflow: hidden;
    background-color: #474B4F;
    margin-left: 3em;
    margin-bottom: 1em;
}

.navigation {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    color: #628E25;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
}

a:active {
    background-color: #222629;
}

.navigation a:hover {
    color: white;
    background-color: #628E25;
    font-weight: 200;
    font-size: 1.2em;
}

.responsive li {
    display: block;
}

footer {
    margin-top: 2em;
    bottom: 0;
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #474B4F;
    font-size: 1em;
    margin-left: 2.5em;
    font-family: 'Dosis', sans-serif;
}

footer p {
    text-align: center;

    color: white;

}

iframe {
    display: none;
}

/*hero image*/
.heroimg{
    min-width: 71.5em;
    height: 30em;
    margin-left: 8em;
}
#weatherSummary{
    display: block;
    position: absolute;
    top: 30px;
    background-color: #474B4f;
    border: 3px solid black;
    padding: .5rem;
    box-shadow: 0 0 30px;
    margin-left: 8em;
    font-size: 1.5em
}
.hero{
    position: relative;
}
/*end of hero image*/
/*Forecast/Table*/



/*paragraph*/
.paragraph{
    font-size: 1.4em;
    max-width: 80%;
    margin-left: 6em;
}
.paragraph1{
    font-size: 2.4em;
    margin-left: 13em;
}
#event{
    font-size: 1.5em;
    margin-left: 20em;


}
/*MainstuffThatIneedEnds*/





/*MediumStuff*/
@media screen and (min-width: 32.5em) {

    body {
        font-family: 'Dosis', sans-serif;
    }

    .soda {
        margin-top: 1em;
    }

    #logo {
        max-width: 20%;
    }

    .navigation {
        display: flex;
        font-family: 'Dosis', sans-serif;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation li a {
        color: #ffffff;
    }

    nav {
        margin-left: 5em;
    }

    footer {
        margin-left: 5em;
    }



    .grid {
        grid-template-columns: 1fr 1fr;

    }

    article {
        max-width: 30em;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
        padding-bottom: .2em;
    }

    p {
        font-size: .8em;
    }

    img {
        max-width: 22em;
    }

    .grid {
        margin: 3em;

    }
}




/*LargeStuff*/
@media screen and (min-width: 62em) {

    nav {
        margin-left: 8em;
    }

    footer {
        margin-left: 8em;
    }

    body {
        font-family: 'Dosis', sans-serif;
        margin-left: 5em;
    }

    #logo {
        max-width: 12.5%;
    }

    .navigation li a {
        color: white;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: -.5em;

    }

    /* table stuff */
    .forecastbegin{
        text-align: center;
        margin-right: 6em;
    }
    .tableWeather{
        margin-left: 30em;
        display: flex;
    }
    #day1, #day2, #day3, #day4, #day5{
        padding: 1em;
    }
    #forecasttitle{
        font-size: 2em;
        text-align: center;
    }

}