img{
    width: 10em;
}

article{
    background-color: cyan;
    padding: 1em;
    margin: 1em;
}

section{
    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 32.5em) {
    section{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 60em){
    section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}