li{
    list-style: none;
    background-color: #4ecdc4;
    margin: 0 auto;
}
a{
    font-size: 1.3em;
    text-decoration: none;
    line-height: 2em;
    margin-left: 4em;
    margin-right: 4em;
    padding: .3em;
}
a:hover{
    font-size: 1.3em;
    background-color: white;
    color: black;
    text-decoration: underline;
}
body{
    background-color: #ffffff;
}
h1{
    color: #ffcc33;
}