@media only screen and (max-width: 991px){
    [class*="col-"]{
        width: 70%;
    }
    .top{
        text-align: center;
    }
    body{
        background-color: #222629;
        font-family: 'Dosis', sans-serif;
        max-width: 100%;
        color: #86C232
    }
    .superman{
        background-image: url(lesson8/images/superman.jpg);
    }
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        border-style: double;
        border-radius: 1em;
        list-style: none;
        padding: 1em;
        font-size: 1.5em;
    }
    li{
        font-family: 'Dosis', sans-serif;
        list-style: none;
        color: #86C232;
    }
    li>a {
        text-decoration: none;
        font-family: 'Dosis', sans-serif;
        border-radius: 1em;
        color: #86C232;
    }
    ul{
        border: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        background-color: #474B4F;
        border-radius: 1em;
        border-style: inset;
        text-decoration: none;
        padding: .3em;
        font-family: 'Dosis', sans-serif;
        color: #628E25;
    
    }
    /* class selectors*/
    .highlight{
        font-weight: bold;
    }
    /* id selectors */
    a:hover{
        color: #628E25;
    }
    a:active{
        background-color: #222629;
    }
    
    
    footer{
        text-align: center;
        background-color: #474B4F;
        color: #61892F;
        grid-gap: .5em;
        min-width: 2em;
        border-style: solid;
        border-color: black;
        border-radius: 1em;
        padding: 1em;
        display: flex;
        flex-direction: column;
    }
    .motto{
        text-align: center;
    }
    h1{
        text-align: center;
        color: #61892F
    }
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        padding: 2em;
    }
    .navigation  {
        display: flex;
        justify-content: space-between;
    }
    .navigation a{
        padding: 1em;
    }
    .active{
        background: radial-gradient(#474B4F, #222629);
        font-weight: 100;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
    }
    #map{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    #weathersummary {
        display: block;
        position: absolute;
        top: 50px;
        left: 50px;
        background: radial-gradient(#D2FDFF, #B4DFE5);
        border: 3px solid black;
        padding: .5rem;
        box-shadow: 0 0 30px
    }
    .hero{
        position: relative;
        width: 100%;
        height: 100%;
}
#gallery{
    grid-template-columns: 1fr 1fr;
}
.hidden{
    display: none;
}
    
}