@media only screen and (max-width: 600px) {
[class*="col-"]{
    width: 50%;
}
footer {
    text-align: center;
    background-color: #ECC4A1;
    grid-gap: .5em;
    min-width: 2em;
    border-style: solid;
    border-color: black;
    border-radius: 1em;
    padding: 1em;
}
main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        text-align: center;
        padding: 2em;
    }
body{
    margin: auto;
    max-width: 60%;
    margin: 1em;
    background-color: #85914F;
}
ul{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #ECC4A1;
    border-radius: 2em;
    border-style: inset;
    text-decoration: none;
    padding: .5em;
    font-family: 'Dosis', sans-serif;

}
.image{
    display: flex;
    justify-content: flex-end
}
li{
    font-family: 'Dosis', sans-serif;
    float: left;
}
li>a {
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    border-radius: 2em;
}
a:hover{
    color: #48ACF0;
}
section{
    border-style: double;
    border-radius: .1em;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: .3em;

}
.motto{
    text-align: center;
}
h1{
    text-align: center;
}
.navigation{
    list-style: none;
    text-align: center;
    padding: 0;
    overflow: hidden;

}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
    display: none;
}
.navigation{
    display: flex;
    flex-direction: column;
}
.responsive li{
    display: block;
}
}